.padding-top-50 {
  padding-top: 50px;
}
.has-error
{
  color: #b94a48;
}

.ng-timepicker.red > table > tbody > tr > td.act:hover {
	background: #ff5c5b;
	color: #fff;
}
.red {
  background: #ff6261;
}