node_modules/*
node_modules/**/*

bower_components/*
bower_components/**/*

src/bower_components/*
src/bower_components/**/*

bin/*
bin/**/*

obj/*
obj/**/*

*.log

build/*
buil/**/*

dist/*
dist/**/*

