<ng-form name="editTaskForm">
  <div class="panel col-sm-5 col-md-4 col-xs-12">
    <div class="panel-heading">
      <div class="pull-right">
        <button type="button" ng-click="save()" class="btn btn-primary btn-xs glyphicon glyphicon-floppy-disk"></button>
        <button type="button" ng-click="back()" class="btn btn-primary btn-xs glyphicon glyphicon-menu-left"></button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <task ng-model="newTask" name="taskFom"></task>
    </div>
  </div>
</ng-form>