<ng-form name="editTaskForm">
  <div class="panel">
    <div class="well-sm panel-body">
      <div class="col-xs-12" style="margin-top: 20px;">
        <table st-table="tasks" class="table table-striped">
          <tr>
            <th>Executed:</th>
            <td>{{statistics.actionsCount.executed}}</td>
          </tr>
          <tr>
            <th>Simplified</th>
            <td>{{statistics.actionsCount.simplified}}</td>
          </tr>
          <tr>
            <th>Clarified</th>
            <td>{{statistics.actionsCount.clarified}}</td>
          </tr>
          <tr>
            <th>Followed up</th>
            <td>{{statistics.actionsCount.followedUp}}</td>
          </tr>
          <tr>
            <th>Delegated</th>
            <td>{{statistics.actionsCount.delegated}}</td>
          </tr>
          <tr>
            <th>Defered</th>
            <td>{{statistics.actionsCount.defered}}</td>
          </tr>
          <tr>
            <th>Scheduled</th>
            <td>{{statistics.actionsCount.scheduled}}</td>
          </tr>
          <tr>
            <th>Transfered</th>
            <td>{{statistics.actionsCount.transfered}}</td>
          </tr>
          <tr>
            <th>Trashed</th>
            <td>{{statistics.actionsCount.trashed}}</td>
          </tr>
          <tr>
            <th>Completed before deadline</th>
            <td>{{statistics.completedBeforeDeadlineCount}}</td>
          </tr>
          <tr>
            <th>Average waiting time</th>
            <td>{{'days: ' + statistics.averageWaitingTime.days + ', hours: ' + statistics.averageWaitingTime.hours + ', mins: ' + statistics.averageWaitingTime.minutes}}</td>
          </tr>
          <tr>
            <th>Completed tasks today (%)</th>
            <td>{{statistics.percentageCompletedTasksToday}}</td>
          </tr>
          <tr>
            <th>Completed tasks this month (%)</th>
            <td>{{statistics.percentageCompletedTasksCurrentMonth}}</td>
          </tr>
          <tr>
            <th>Incompleted tasks today (%)</th>
            <td>{{statistics.percentageIncompletedTasksForToday}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</ng-form>
