<ng-form name="editTaskForm">
  <div class="panel">
    <div class="well-sm panel-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="input-group pull-left">
            <span>Fly score floor</span>
            <input type="number" class="form-control" min="0" max="100" ng-disabled="readonly" ng-model="flyLimit" ng-change="limitTasks()">
          </div>
          <div class="pull-right" style="margin-top:20px">
            <a type="button" ng-click="createNew()" class="btn btn-primary btn-sm glyphicon glyphicon-plus"></a>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-xs-3">
          <span>Motion scale</span>
        </div>
        <div class="col-xs-3">
          <button type="button" ng-click="updateScale(15)" class="btn btn-primary btn-sm">Day</button>
        </div>
        <div class="col-xs-3">
          <button type="button" ng-click="updateScale(50)" class="btn btn-primary btn-sm">Week</button>
        </div>
        <div class="col-xs-3">
          <button type="button" ng-click="updateScale(80)" class="btn btn-primary btn-sm">Month</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <uib-progressbar class="progress active" value="motionLevel" type="{{scaleStyle}}"></uib-progressbar>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-xs-12">
          <table st-table="tasks" class="table table-striped">
            <thead>
              <tr>
                <th colspan="6"><input st-search="" class="form-control" placeholder="search ..." type="text" /></th>
              </tr>
              <tr>
                <th width="1px" ng-if="tasks.length !== 0"></th>
                <th width="1px" ng-if="tasks.length !== 0"></th>
                <th st-sort="title">Title</th>
                <th st-sort="flyScore">Fly score</th>
                <th st-sort="deadline">Deadline</th>
                <th st-sort="duration">Duration</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat-end ng-repeat="task in tasks" ng-class="{'red' : task.tooLate}">
                <td ng-if="tasks.length !== 0"><a type="button" ng-click="edit(task.taskId)" class="glyphicon glyphicon-pencil"></a></td>
                <td ng-if="tasks.length !== 0"><a type="button" ng-click="remove(task.taskId)" class="glyphicon glyphicon-remove"></a></td>
                <td>{{task.title}}</td>
                <td>{{task.flyScore}}</td>
                <td>{{task.deadline | date : 'dd.MM.yy'}}</td>
                <td>{{task.duration}}</td>
              </tr>
              <tr ng-if="tasks.length === 0">
                <td colspan="4"> You have no tasks </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</ng-form>
