<ng-form class="form-inline" ng-readonly="readonly">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-sm-12">
      <div class="form-group col-xs-4 col-sm-5 col-md-5">
        <label class="control-label">Internal importance</label>
        <input type="checkbox" class="form-control input-sm" ng-disabled="readonly" ng-model="model.internalImportance">
      </div>
      <div class="form-group col-xs-4 col-sm-5">
        <label class="control-label">External Importance</label>
        <input type="checkbox" class="form-control input-sm" ng-disabled="readonly" ng-model="model.externalImportance">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-10 col-sm-12">
      <div class="form-group col-xs-4 col-sm-4 col-md-4">
        <label class="control-label">Clearness</label>
        <input type="checkbox" class="form-control input-sm" ng-disabled="readonly" ng-model="model.clearness">
      </div>
      <div class="form-group col-xs-4 col-sm-4 col-md-4">
        <label class="control-label">Closeness</label>
        <input type="checkbox" class="form-control input-sm" ng-disabled="readonly" ng-model="model.closeness">
      </div>
      <div class="form-group col-xs-4 col-sm-4 col-md-4">
        <label class="control-label">Simplicity</label>
        <input type="checkbox" class="form-control input-sm" ng-disabled="readonly" ng-model="model.simplicity">
      </div>
    </div>
  </div>
 <div class="row">
   <label>Title</label>
   <div class="input-group col-xs-12">
     <input type="text" class="form-control" ng-disabled="readonly" ng-model="model.title">
   </div>
 </div>
  <div class="row">
    <label>Description</label>
    <div class="input-group col-xs-12">
      <input type="text" class="form-control" ng-disabled="readonly" ng-model="model.description">
    </div>
  </div>
  <div class="row">
    <label>Tag</label>
    <div class="input-group col-xs-12">
      <input type="text" class="form-control" ng-disabled="readonly" ng-model="model.tag">
    </div>
  </div>
  <div class="row" style="z-index: 3; position: relative;">
    <div style="padding-left:0px" class="col-xs-6 pull-right">
      <label style="padding-left:0px" class="col-xs-12">Deadline time</label>
      <div class="input-group">
        <ng-timepicker ng-model="model.deadlineTime" step="30" theme="red" readonly="readonly" ng-disabled="readonly" style="z-index: 10; position: relative;"></ng-timepicker>
      </div>
    </div>
    <div style="padding-left:0px" class="col-xs-6 pull-left" style="z-index: 0; position: relative;">
      <label style="padding-left:0px" class="col-xs-12">Duration (hours)</label>
      <div class="input-group">
        <input type="number" class="form-control" ng-disabled="readonly" ng-model="model.duration">
      </div>
    </div>
  </div>
  <div class="row">
    <label>Deadline date</label>
    <div class="input-group col-xs-12">
      <input type="text" class="form-control" ui-date ng-disabled="readonly" ng-model="model.deadlineDate">
    </div>
  </div>
  <div class="row">
    <label>State</label>
    <div class="input-group  col-xs-12">
      <select ng-model="model.stateId" ng-disabled="(!!model.dependantTaskId && !dependantTask.isDone) || readonly"
              ng-options="value.id as value.name for value in states"
              class="form-control">
        <option></option>
      </select>
    </div>
  </div>
  <div class="row">
    <label>Action</label>
    <div class="input-group  col-xs-12">
      <select ng-model="model.actionId" ng-disabled="readonly"
              ng-options="value.id as value.name for value in actions"
              class="form-control">
        <option></option>
      </select>
    </div>
  </div>
  <div class="row">
    <label>Recommendation</label>
    <div class="input-group  col-xs-12">
      <input type="text" class="form-control" ng-disabled="true" ng-model="model.recomendation">
    </div>
  </div>
  <div class="row">
    <label>Dependant task</label>
    <div class="input-group  col-xs-12">
      <select ng-model="model.dependantTaskId"
      ng-options="value.id as value.name for value in tasks"
      class="form-control" ng-disabled="readonly">
      <option></option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="form-group pull-left">
      <label class="control-label">Send an appointment to my email</label>
      <input type="checkbox" class="form-control input-sm" ng-disabled="readonly" ng-model="model.createAppointment">
    </div>
  </div>
</ng-form>
